#---------------------------------
# Directories
#---------------------------------
**/node_modules/
target/
test/
tmp/
vendor/


#---------------------------------
# Extensions
#---------------------------------
**/*.{gz,log,rar,tar,zip}


#---------------------------------
# Files
#---------------------------------
.bowerrc
.eslintrc
.travis.yml
bower.json
gulpfile.js
karma.conf.js


#---------------------------------
# IDE generated
#---------------------------------
.idea/
.project
*.iml


#---------------------------------
# OS generated
#---------------------------------
__MACOSX/
.DS_Store
Thumbs.db
